################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KillOnPress/.vs/KillOnPress/FileContentIndex/9bc9c56f-0e11-4e81-9c7c-efecaaef289b.vsidx
/KillOnPress/.vs/KillOnPress/FileContentIndex/a177c7e4-d17d-4fde-bc1c-405b3dd5e642.vsidx
/KillOnPress/.vs/KillOnPress/FileContentIndex/ed4e39cd-6cd2-4f19-bb5d-e6cc9eeddb98.vsidx
